<a href="https://colab.research.google.com/github/RileyRongere/CS167-Notes/blob/main/Day1Notes_PythonReview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [10]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'str'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [11]:
x = [1,2,3] 
y=x
print(y)
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

#y is equal to the memory address of x rather than being equal to the value of x

[1, 2, 3]
['abc', 2, 3]

In [12]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

#z equals the value of x[1], not the memory address of x[1]

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [13]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [14]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] ) #1-4
print( my_list[:4]) #0-3
print( my_list[4:]) #4-5
print( my_list[:]) #0-5

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [15]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University']) #prints Drake , University but doesn't add to list
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [16]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

baby
e

In [17]:
# In Python, a tuple is a collection which is ordered and unchangeable
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [20]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2]) #floats do not have indexes
my_tuple[1] = 0 #cannot change touples
print(my_dictionary[1]) #dictionaries are indexed by 'key' instead of number

KeyError: ignored

In [24]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

KeyboardInterrupt: ignored

In [25]:
# iterating through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

#####
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data: #i will have the value of the idx's in my_data. Meaning it will be a float
    print( my_data[i] )

for i in range(len(my_data)): #will just print i rather than my_data[i]
    print( i )

for i in range(my_data): #my_data is not an int
    print( my_data[i] )

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

TypeError: ignored

In [26]:
import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/CS167-Machine_Learning/datasets/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [29]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [30]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [31]:
print(data.loc[3, 'type'])

Thai

In [32]:
print(data.loc[3, 'rain'])

No

In [33]:
print(data.iloc[3,8])

Thai

In [34]:
print(data.iloc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [35]:
print(data['est'])

0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object

In [36]:
data.loc[5]

alt            No
bar           Yes
fri            No
hun           Yes
pat          Some
price          $$
rain          Yes
res           Yes
type      Italian
est          0-10
target        Yes
Name: 5, dtype: object

In [ ]:
print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/CS167/datasets/irisData.csv')
data1.head()

In [ ]:
type(data1['sepal length'].loc[0])

In [ ]:
data.iloc[3:6, 4:8]

In [ ]:
print(data['rain'].iloc[4])

In [ ]:
print(data['type']=='Thai')

In [ ]:
print(data[ data['type'] == 'Thai'])